*{
    margin: 0;
    padding: 0;
}
 
.nav-bar{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ececec;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
 
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
 
nav ul li{
    color: white;
    padding: 10px;
}
 
nav ul li a{
    
    color: black;
    text-decoration: none;
}
#socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#socials a{
    color: black;
    text-decoration: none;
    padding: 10px;
}
#subscribe-link a{
    color: rgb(129, 184, 27);
}
 
.nav-toggle{
  display: none;
}

/* best of vegan sectin*/
 
#best-vegan{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    /* text-decoration: none;
    margin-bottom: 300px; */
}
#best-vegan h1{
margin-left: 100px;
font-size: 2.5rem;
}
#content{
 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px;
}
 
#content a{
    font-size: 1.3rem;
    padding: 20px;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eceae0;
}

#firstrecepie{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eceae0;
    color: rgb(0, 0, 0);
   
}
#left-content{
    
    max-width: 40%;
    padding: 20px;
}
#right-content{

    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* gap: 2px; */
}
.cards{
    /* overflow: hidden; */
    object-fit: cover;
    color: white;
    margin-top: 50px;
    margin-right: 1px;
    margin-bottom: 0px;
    width: 100px;
    height: 300px;
}
 
.cards img{
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    /* object-fit: fill; */
    
}
#left-content h1{
    margin: 80px 0px 0px 80px;
    font-size: 4rem;
}
#left-content p{
    margin: 30px 0px 0px 80px;
    font-size: 1.3rem;
}
 
/*form container*/
#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
   height: 300px;
}
 
#head-form{
    display: flex;
   flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
   
   
}
#form-content input{
    color: black;
    width: 300px;
    height: 23px;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
 
}
#form-content button{
    width: 170px;
    height: 47px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(200, 236, 101);
    border-radius: 7px;
 
}

#browse{
    margin: 20px;
}

#browse-heading{
    display: flex;
    justify-content: center;
    color: #92AC5B;
    margin-top: 40px;
}

.grey-txt{
 color:grey;
}

.browse_Img_Txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Latest-container{
 display: flex;
 justify-content:space-between;
 align-items: baseline;
 margin: 0px 50px;
 /* border: 2px solid black; */
}

#list-of-category{
    margin: 20px 300px;
    background-color: rgb(245, 242, 242);
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    gap: 15px;
    /* justify-content: space-between; */
}

#list-of-category a{
    text-decoration: none;
    color: grey;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    /* background-color: lemonchiffon;
    border: 2px solid rgb(197, 188, 106); */
    margin: 5px;
}

.latest-text-color{
    font-size: 14px;
    color: #92AC5B;
}

.section-deco{
    /* padding: 10px; */
    display: flex;
    margin-top: 10px;
}

.grid{
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    /* justify-content: space-around; */
    margin: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.grid article{
    text-align: center;
}

.grid img{
    height: 400px;
    width: 380px;
    padding-left:1ox;
}

.grid header p{
    margin-top: 10px;
    font-size: 25px;
}

#Search-recipes{
    background-color: rgb(183, 196, 162);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 25px;
}

.input-field input{
    padding-top:15px;
    padding-bottom:15px ;
    padding-left:190px ;
    padding-right: 190px;
}

#seachbar-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-deco{
    /* padding-top:11px;
    padding-bottom:11px ; */
    padding: 11px 41px;
    background-color:rgb(179, 240, 179);
    border: 0.1px solid black;
}

.flex{
    margin: 0px 100px;
    padding: 30px 0px;
    background-color: rgba(244, 245, 243, 0.944);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.flex_img_txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-box{
    object-fit: cover;
    height: 250px;
    width: 200px;
}

.section7{
  margin: 30px 280px;
  background-color: rgba(244, 245, 243, 0.944);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .section7 h1 img{
    height: 52px;
 }

.about-section {
 position: relative;
 width: 100%;
 height: 926px;;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: black;
 margin-top: 80px;
}

.about-image img {
 height:830px;
 width: 820px;
 display: block;
 /* border-radius: 10px; */
 margin-right: 300px;
}

.about-content {
 position: absolute;
 top: 13%;
 left:70%;
 transform: translate(-50%, 0);
 background-color: rgba(255, 255, 255, 0.9); /* Add transparency for better effect */
 padding: 30px;
 max-width: 480px;
 box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.about-content h6 {
 font-size: 14px;
 letter-spacing: 1px;
 color: #7b8b6f;
 text-transform: uppercase;
}

.about-content h2 {
 font-size: 28px;
 color: #5a7247;
 margin-bottom: 15px;
}

.about-content p {
 font-size: 22px;
 color: #333;
 line-height: 1.8;
 margin-bottom: 15px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 
}

.about-btn {
 background-color: #a3c293;
 color: #333;
 padding: 10px 20px;
 border: none;
 font-size: 14px;
 cursor: pointer;
 transition: 0.3s ease;
 margin-top: 30px;
}

.about-btn:hover {
 background-color: #89a978;
}

.flex-res{
    background-color: rgb(244, 241, 241);
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.flex_img_txt-res{
 display: flex;
 flex-direction: column;
 /* justify-content: center; */
 align-items: center;
 width: 300px;
 padding-top: 50px
}


.img-box-res{
    margin: 20px;
    padding:0px 20px ;
    object-fit: cover;
    width: 80%;
    height: 60%;
}

.img-box-res-p{
    padding-left: 20px;
    font-size: 20px;
    font-weight: 500;
}


 #footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    margin-top:30px;
    background-color: black;
    color: white;
    padding-bottom: 50px;
 }

 #the-upper-footer{
    width: 50%;
 }

 #the-upper-footer h1{
    margin-top:40px;
    margin-left: 280px;
    font-size: 50px;
 }

 #the-upper-footer h6{
    margin-top: 30px;
    margin-left: 360px;
    font-size: 17px;
    letter-spacing: 1.5px;
    word-spacing: 3px;
 }

#the-ul{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    color: #92AC5B;
    font-size: 20px;
    list-style: none;
}

#the-bottom-footer{
    display: flex;
    width: 70%;
}

#left-bottom-footer{
    padding-left:30px;
}

#left-bottom-footer h1{
    margin-left: 15px;
}

#left-bottom-footer p{
    font-size: 15px;
    font-weight: 300;
    margin-top: 20px;
}

#right-bottom-footer{
    padding-left: 80px;
}

.footer-space{
    padding: 0px 40px;
    text-decoration: none;
    color: #7c846c;
    font-weight:200;
    font-size: 10x;
    padding-top: 8px;
}

.footer-space-heading1{
    padding-right:70px ;
}

.footer-space-heading2{
    padding-right: 4px;
}


.footer-space-heading3{
    padding-right: 0px;
}

.footer-white-bottom{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(235, 233, 233);
    padding-top: 15px;
}

.footer-white-bottom p{
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer-white-bottom a{
    color: #5a702a;
}